#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Layer Numbering

#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  4

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        mouse_layer_combo {
            bindings = <&mo 3>;
            key-positions = <35 36>;
        };

        hyper_tab_combo {
            bindings = <&kp LS(LA(LC(TAB)))>;
            key-positions = <35 37 36>;
            layers = <0>;
        };

        shifttab {
            bindings = <&kp LS(TAB)>;
            key-positions = <14 16>;
        };

        Meh {
            bindings = <&kp LS(LA(LEFT_CONTROL))>;
            key-positions = <45 48>;
        };

        hyper {
            bindings = <&kp LS(LA(LEFT_CONTROL))>;
            key-positions = <21 22 23>;
            layers = <0>;
        };
    };

    behaviors {
        sensor_rotate_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_wheel_scroll: mouse_wheel_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        ht_balance: ht_balance {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_BALANCE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <1 2 3 4 5 13 14 15 16 17 18 27 28 29 30 31 32 43 41 42 6 7 8 9 10 20 21 22 23 24 34 35 36 37 38 49>;
        };

        mt_balance: mt_balance {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_BALANCE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <1 2 3 4 5 6 7 8 9 13 14 15 16 17 18 19 20 21 22 23 27 28 29 30 31 32 33 34 35 36 37 41 42 43 10 24 38 49 39 50 25 11 40 26 12 0>;
            flavor = "balanced";
            quick-tap-ms = <150>;
        };

        Hyper: Hyper {
            compatible = "zmk,behavior-tap-dance";
            label = "HYPER";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp LS(LA(LEFT_CONTROL))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
&trans                   &kp Q                     &kp W                   &kp E   &kp R                     &kp T                                       &kp Y                    &kp U  &kp I      &kp O    &kp P             &trans
&mt LEFT_CONTROL ESCAPE  &kp A                     &kp S                   &kp D   &kp F                     &kp G   &trans                      &trans  &kp H                    &kp J  &kp K      &kp L    &kp SINGLE_QUOTE  &kp RET
&trans                   &ht_balance LEFT_SHIFT Z  &ht_balance LEFT_ALT X  &kp C   &kp V                     &kp B   &trans                      &trans  &kp N                    &kp M  &kp COMMA  &kp DOT  &kp SLASH         &trans
&trans                   &trans                    &trans                  &trans  &ht_balance LEFT_GUI TAB  &Hyper  &ht_balance LEFT_ALT SPACE  &mo 1   &mt_balance 2 BACKSPACE                             &trans            &trans
            >;

            sensor-bindings = <&mouse_wheel_scroll SCRL_UP SCRL_DOWN>;
        };

        nav_layer {
            label = "FUN";
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0  &kp BACKSPACE
&trans  &kp SLASH     &kp ASTERISK  &kp PLUS      &kp MINUS     &trans          &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans        &kp RETURN
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR    &bt BT_CLR_ALL  &trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans        &trans
&trans  &trans        &trans        &trans        &trans        &kp LEFT_SHIFT  &trans  &trans  &trans                                                         &trans        &trans
            >;

            sensor-bindings = <&sensor_rotate_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        sym_layer {
            label = "SYM";
            bindings = <
&trans  &kp AT        &kp LESS_THAN  &kp GREATER_THAN  &kp BACKSLASH      &kp PIPE                            &kp CARET  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR   &trans  &trans
&trans  &kp EXCL      &kp UNDER      &kp MINUS         &kp EQUAL          &kp AMPS        &trans    &trans    &kp HASH   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TILDE    &trans  &trans
&trans  &kp ASTERISK  &kp PLUS       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PERCENT     &ind_bat  &ind_con  &kp GRAVE  &kp COLON             &kp SEMICOLON          &kp INT_YEN  &trans  &trans
&trans  &trans        &trans         &trans            &trans             &kp LEFT_SHIFT  &trans    &trans    &trans                                                               &trans  &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans          &mmv MOVE_UP    &trans           &trans                        &trans     &trans  &trans  &trans          &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans     &trans     &trans     &trans  &trans  &msc SCRL_UP    &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans  &trans     &trans     &trans     &trans  &trans  &msc SCRL_DOWN  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans  &mkp MCLK  &mkp LCLK  &mkp RCLK                                  &trans  &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };
    };
};
